:root {
    --white: #fff;
    --white-hard: #f1f1f1;
    --gray-light: #ddd;
    --gray-middle: #bbb;
    --gray-hard: #666;
    --gray-btn: #444;
    --gray-font: #333;
    --black-light: #191919;
    --black: #000;
    --green-light: #EDF5D1;
    --green-middle: #15700E;
    --green-hard: #183E15;
}
@font-face {
    font-family: 'noto-kr-medium';
    src: url('../font/NotoSansKR-Medium.otf');
}
@font-face {
    font-family: 'noto-kr-light';
    src: url('../font/NotoSansKR-Light.otf');
}
@font-face {
    font-family: 'noto-kr-black';
    src: url('../font/NotoSansKR-Black.otf');
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'noto-kr-medium';
    box-sizing: border-box;
    color: var(--gray-font);
}
.padding {
    padding-left: 17%;
    padding-right: 17%;
}
.page {
    height: 100vh;
    position: relative;
}
button {
    cursor: pointer;
}
/* Header Navi */
header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #3333;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}
.header__list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.header__logo {
    font-weight: 800;
    font-size: 2rem;
    margin-right: 1.5rem;
}
.header__item {
    margin-left: 2.5rem;
}
.header__item--gray {
    color: var(--gray-middle);
    font-size: .9rem;
}
.header__item--small {
    font-size: .9rem;
}