@keyframes wave {
    0% {
        background-position-y: 0px;
    }
    50% {
        background-position-y: 50px;
    }
    100% {
        background-position-y: 0px;
    }
}
/* Login */
.login {
    display: flex;
    flex-flow: row nowrap;
}
.login__img {
    flex: .55;
    background-image: url('../images/login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: var(--gray-light); */
    animation: 5s wave infinite;
}
.login__form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex: .6;
    padding-right: 17%;
}
.login__logo {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'noto-kr-black';
    margin-bottom: 2rem;
}
.login__input {
    width: 60%;
    border: 1px solid var(--white-hard);
    border-radius: 5rem;
    padding: .8rem 2rem;
    background-color: var(--green-light);
    font-size: 1rem;
    margin-top: .7rem;
}
.login__input:focus {
    outline: none;
}
.login__button {
    width: 60%;
    color: var(--white);
    background-color: var(--green-middle);
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5rem;
    padding: .6rem;
    margin-top: 1.5rem;
    transition: .2s;
}
.login__button:hover {
    background-color: #218a19;
}
.login__text {
    margin-top: .5rem;
    cursor: pointer;
}
.login__text--under {
    margin-top: 1.2rem;
}
/* 회원가입 */
.login__title {
    border-bottom: 1px solid var(--gray-btn);
    width: 60%;
    text-align: left;
    padding: .5rem 2%;
}
.login__phone {
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
}
.login__input--short {
    margin-right: 1.2rem;
}
.login__input--short:last-child {
    margin-right: 0;
}
.login__label {
    width: 55%;
    font-size: .7rem;
    color: var(--gray-hard);
    text-align: left;
}
.login__buttons {
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
}
/* 아이디 + 비밀번호 찾기 */
.login__toggle {
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
}
.login__toggle-button {
    flex: 1;
    text-align: center;
    border-bottom: 1px solid var(--gray-btn);
    padding: .5rem 0;
    cursor: pointer;
}
.login__form-list {
    width: 60%;
    overflow: hidden;
}
.login__form-items {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    transition: 1s;
}
.login__form-item {
    position: relative;
}
.login__form-item:last-child {
    left: 10%;
}
.login__form-id .login__toggle-button:first-child {
    font-weight: bold;
    border-bottom: 2px solid var(--gray-btn);
}
.login__form-pw .login__toggle-button:last-child {
    font-weight: bold;
    border-bottom: 2px solid var(--gray-btn);
}
.login__form-id .login__form-items{
    left: 0;
}
.login__form-pw .login__form-items{
    left: -120%;
}
.login__form-list .login__input,
.login__form-list .login__phone,
.login__form-list .login__buttons {
    width: 100%;
}