.admin {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1.5fr 9fr;
    height: 100vh;
}
input[type=radio] {
    display: none;
}
.menu__list {
    background-color: var(--green-light);
    display: flex;
    flex-flow: column;
    border-right: 1px solid #ddd;
}
.menu__item {
    background-color: var(--green-light);
    padding: 1rem 3rem;
    transition: .2s;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.menu__item:hover {
    background-color: #f4fbe0;
}
#user:checked ~ .menu__list > .menu__item:nth-of-type(1), 
#mealkit:checked ~ .menu__list > .menu__item:nth-of-type(2),
#report:checked ~ .menu__list > .menu__item:nth-of-type(3) {
    background-color: #fff;
    color: var(--green-middle);
    font-weight: 500;
}
.board__list {
    width: 100%;
    height: 100%;
}
.board__item {
    display: none;
}
#user:checked ~ .board__list > .board__item:nth-of-type(1), 
#mealkit:checked ~ .board__list > .board__item:nth-of-type(2),
#report:checked ~ .board__list > .board__item:nth-of-type(3) {
    display: block;
    height: 100%;
    padding: 5rem;
}
.board__title {
    font-size: 1.5rem;
    color: #333;
    font-weight: 400;
}

.users {
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color: #fff;
    margin-top: 1rem;
    box-shadow: 0px 0px 4px #a5a5a5;
    border-radius: .25rem;
}
.users__row {
    display: grid;
    grid-template-columns: 1fr .5fr .7fr 1fr .5fr .5fr .5fr;
    align-items: center;
    transition: .2s;
}
.users__row:hover {
    background-color: #fafafa;
    border-left: .5rem solid var(--green-light);
}
.users__row:first-child {
    font-size: 1rem;
    border-left: none;
    background-color: var(--green-light);
    color: #676767;
}
.users__row:first-child:hover {
    background-color: #fff;
    border-left: none;
}
.users__row button {
    appearance: none;
    border: none;
    background-color: crimson;
    color: #fff;
    padding: .5rem 2rem;
    border-radius: 1rem;
}
.users__row > div {
    padding: 1rem 2rem;
}

.recipe__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1rem;
    justify-content: space-between;
    gap: 2rem;
}

.report {
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color: #fff;
    margin-top: 1rem;
    box-shadow: 0px 0px 4px #a5a5a5;
    border-radius: .25rem;
}
.report__row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: center;
    transition: .2s;
}
.report__row:hover {
    background-color: #fafafa;
    border-left: .5rem solid var(--green-light);
}
.report__row:first-child {
    font-size: 1rem;
    border-left: none;
    background-color: var(--green-light);
    color: #676767;
}
.report__row:first-child:hover {
    background-color: #fff;
    border-left: none;
}
.report__row button {
    appearance: none;
    border: none;
    background-color: crimson;
    color: #fff;
    padding: .5rem 2rem;
    border-radius: 1rem;
}
.report__row > div {
    padding: 1rem 2rem;
}