.error {
    height: 100vh;
    background-color: var(--green-light);
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.error__text--big {
    font-size: 10rem;
    font-weight: 800;
}
.error__text--middle {
    font-size: 2rem;
    font-weight: 500;
}
.error__text--small {
    font-size: 1rem;
    font-weight: 300;
    color: #676767;
    margin-top: 1rem;
}
.error__button {
    padding: .5rem;
    border: 1px solid var(--green-middle);
    background-color: #fff;
    border-radius: .5rem;
    width: 20rem;
    text-align: center;
    color: var(--green-middle);
    margin-top: 2rem;
}