.button {
    width: 224px;
    background-color: var(--green-middle);
    color: var(--white);
    font-weight: bold;
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    box-shadow: 0px 3px 6px #000;
    position: relative;
    cursor: pointer;
    transition: .2s;
}
.button:hover {
    background-color: #218a19;
}
/* Remocon */
.remocon {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 10;
}
.remocon__item {
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--gray-light);
    border-radius: 5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    background-color: var(--white);
    box-shadow: 0px 3px 6px var(--gray-light);
    cursor: pointer;
    transition: .2s;
}
.remocon__item:hover {
    background-color: var(--white-hard);
}
.remocon__item > object {
    width: 35%;
    cursor: pointer;
}
/* Main */
#main {
    padding-top: 20vh;
    user-select: none;
    overflow: hidden;
}
/* Intro */
.intro {
    display: flex;
    flex-flow: column nowrap;
}
.intro__text {
    display: flex;
    align-items: flex-end;
    color: var(--gray-hard);
    font-size: 24px;
}
.intro__text--big {
    color: var(--green-hard);
    font-size: 7rem;
    font-family: 'noto-kr-black';
}
.intro__text--middle {
    font-size: 36px;
    padding-left: 10px;
    padding-bottom: 24px;
}
/* Monster */
.monster {
    position: absolute;
    left: 25%;
    bottom: -5.5%;
    z-index: -1;
}
.monster:hover .monster__mouse--open {
    display: block;
}
.monster:hover .monster__mouse--close {
    display: none;
}
.meal {
    position: absolute;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
}
.meal > object {
    pointer-events: none;
    width: 100%;
    height: 100%;
}
/* Find */
.find {
    padding-top: 8rem;
    background-color: var(--green-light);
    height: 700px;
    z-index: 1;
}
.title {
    width: 100%;
    text-align: center;
}
.title--small {
    color: var(--gray-hard);
    font-size: 18px;
}
.title--big {
    color: var(--black);
    font-size: 28px;
}
.find__list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10%;
}
.find__item {
    flex: 1;
}
.find__img {
    width: 7rem;
    height: 7rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.find__img > object {
    width: 100%;
    height: 100%;
}
.find__text {
    text-align: center;
}
.find__text--big {
    font-size: 24px;
    margin: 1.2rem 0;
    font-weight: 600;
}
.find__text--small {
    font-size: 18px;
    color: var(--gray-hard);
}
/* Recommend */
.recommend {
    padding-top: 10rem;
}
.cooks {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 2rem;
}
.type__list {
    display: flex;
    flex-flow: row nowrap;
    /* width: 40%; */
    margin: 1.5rem 0;
    align-items: center;
    justify-content: center;
}
.type__item {
    border: 1px solid var(--green-hard);
    padding: .2rem 1.2rem;
    border-radius: 5rem;
    margin-right: 1.2rem;
    cursor: pointer;
    transition: .2s;
}
.type__item:last-child {
    margin-right: 0;
}
.type__item:hover {
    background-color: var(--green-middle);
    color: var(--white);
}
.cook__list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.cook__item {
    border: 1px solid var(--gray-light);
    box-shadow: 0 3px 6px var(--gray-light);
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    /* margin-left: 1.2rem; */
}
.cook__circle {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: var(--white);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cook__heart {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cook__img {
    width: 224px;
    height: 224px;
    overflow: hidden;
}
.cook__img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cook__content {
    display: flex;
    flex-flow: column nowrap;    
    padding: 0 1rem .5rem 1rem;
}
.cook__type {
    padding: .1rem .9rem;
    border: 1px solid #E44424;
    border-radius: 5rem;
    margin: .5rem auto;
    color: #E44424;
    font-size: 9px;
}
.cook__brand {
    font-size: 11px;
    color: var(--black-light);
}
.cook__title {
    font-size: 15px;
    color: var(--gray-hard);
}
.cook__price {
    font-size: 18px;
    color: var(--black);
    text-align: right;
}
.hastag__list {
    border-top: 1px solid var(--gray-light);
    display: flex;
    padding: .5rem 1rem;
}
.hastag__item {
    font-size: 11px;
    color: var(--gray-hard);
    margin-left: .5rem;
}
.hastag__item:first-child {
    margin-left: 0;
}
.cook__button {
    margin-top: 3rem;
}
.cook__button > object {
    position: absolute;
    right: 30%;
}
/* Community */
.community {
    height: 600px;
    display: flex;
    flex-flow: row nowrap;
    padding-top: 5rem;
}
.community__wrap {
    flex: 1;
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: column wrap;
}
.community__wrap:nth-of-type(2) {
    align-items: flex-end;
    justify-content: center;
}
.community__wrap--black {
    width: 100%;
    height: 30%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--green-light);
    z-index: 1;
}
.community__wrap > .title {
    text-align: left;
    margin-top: 2rem;
}
.community__button {
    margin-top: 2rem;
}
.community__button-arrow {
    margin-left: .2rem;
}
.community__button-arrow path {
    fill: var(--white);
}
.community__list {
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.community__item {
    background-color: var(--green-hard);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5rem;
    padding: .5rem 1.5rem;
    box-shadow: 0px 3px 6px var(--gray-light);
}
.community__item:first-child::after {
    margin-left: -0.8rem;
    border-top: 1rem solid var(--green-hard);
    border-left: 1rem solid transparent;
    border-right: 0rem solid transparent;
}
.community__item:last-child::after {
    margin-left: -4.8rem;
    border-top: 1rem solid var(--green-hard);
    border-left: 0rem solid transparent;
    border-right: 1rem solid transparent;
}
.community__item::after {
    content: '';
    position: absolute;
    margin-top: 2rem;
    margin-left: -2rem;
    border-top: 1rem solid var(--green-hard);
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
}
.community__item--over {
    position: relative;
    bottom: 3rem;
}
.community__img {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}
.community__img--left {
    margin-right: -5rem;
}
/* Fridge */
.fridge {
    padding-top: 6rem;
}
.fridge__img {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    z-index: 2;
    align-items: flex-end;
    justify-content: center;
    margin-top: 3rem;
}
.fridge__item {
    margin: 0px 2rem;
}
.fridge_button {
    z-index: 2;
    margin: 0 auto;
    margin-top: 3rem;
}
/* Footer */
footer {
    background-color: var(--gray-btn);
    color: var(--white);
    padding: 2rem 0;
}
.footer__text {
    color: var(--white);
    font-family: 'noto-kr-light';
    font-size: .9rem;
}
.footer__list {
    display: flex;
    flex-flow: row nowrap;
    margin: .6rem 0;
}
.footer__list--bold > .footer__item {
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1rem;
}
.footer__list--under {
    margin-top: 2.5rem;
}
.footer__item {
    color: var(--white);
    font-family: 'noto-kr-light';
    font-size: .9rem;
    padding: 0 .6rem;
    border-right: 2px solid var(--white);
}
.footer__item:first-child {
    padding-left: 0;
}
.footer__item:last-child {
    border-right: none;
}
.footer__logo {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'noto-kr-black';
    padding-bottom: 2rem;
    margin-top: 0;
}