.button {
    width: 224px;
    background-color: #fff;
    color: var(--green-middle);
    border: 1px solid var(--green-middle);
    font-weight: bold;
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    box-shadow: 0px 3px 6px #3333;
    position: relative;
    cursor: pointer;
    transition: .2s;
}
.button:hover {
    background-color: #f9f9f9;
}

/* Main */
#main {
    padding-top: 20vh;
    user-select: none;
    overflow: hidden;
}
/* Circle */
.circles {
    width: 100%;
    position: relative;
}
.circle {
    width: 5rem;
    height: 5rem;
    position: absolute;
    border-radius: 5rem;
    z-index: -1;
    opacity: .6;
}
.circle:nth-of-type(1) { top: 27rem; left: 1rem; background-color: #F7C401;}
.circle:nth-of-type(2) {top: 31rem;left: 8rem; background-color: #F7C401;}
.circle:nth-of-type(3) {top: 10rem;left: 14rem;background-color: #E1EFB3;}
.circle:nth-of-type(4) {top: 8rem;left: 31rem;background-color: #183E15;}
.circle:nth-of-type(5) {top: 0rem;left: 46rem;background-color: #31802B;}
.circle:nth-of-type(6) {top: 13rem;left: 52rem;background-color: #F79C01;}
.circle:nth-of-type(7) {top: 14rem;left: 66rem;background-color: #B2DB31;}
.circle:nth-of-type(8) {top: 33rem;left: 59rem;background-color: #E1EFB3;}
.circle:nth-of-type(9) {top: 25rem;left: 69rem;background-color: #F7C401;}
.circle:nth-of-type(10) {top: 19rem;left: 79rem;background-color: #183E15;}
.circle--ssmall {
    width: 3rem;
    height: 3rem;
}
.circle--small {
    width: 5rem;
    height: 5rem;
}
.circle--middle {
    width: 7rem;
    height: 7rem;
}
.circle--big {
    width: 10rem;
    height: 10rem;
}
/* Intro */
.intro {
    display: flex;
    flex-flow: column nowrap;
}
.intro__text {
    display: flex;
    align-items: flex-end;
    color: var(--gray-hard);
    font-size: 24px;
}
.intro__logo {
    width: 20rem;
    margin-bottom: 1rem;
}

.intro__text--middle {
    font-size: 36px;
    padding-left: 11px;
    margin-bottom: 1rem;
}
.intro__text--small {
    margin-top: .5rem;
}
/* Monster */
.monster {
    position: absolute;
    left: 25%;
    bottom: -5.5%;
    z-index: -1;
}
.monster:hover .monster__mouse--open {
    display: block;
}
.monster:hover .monster__mouse--close {
    display: none;
}
.meal {
    position: absolute;
    width: 7rem;
    height: 7rem;
    cursor: grab;
}
.meal:active {
    cursor: grabbing;
}
.meal > object {
    pointer-events: none;
    width: 100%;
    height: 100%;
}