body {
    width: 100%;
    background-color: var(--green-light);
}
input {
    padding: .9rem;
    font-size: 15px;
    border-radius: .5rem;
    border: none;
    background-color: #F1F1F1;
    width: 100%;
    font-weight: 400;
}
input[type=file] {
    display: none;
}
textarea {
    padding: .9rem;
    width: 100%;
    border-radius: .5rem;
    font-size: 15px;
    height: 100%;
    resize: none;
    background-color: #F1F1F1;
    border: none;
}
textarea[name=intro] {
    height: 8.5rem;
}
textarea[name=hashtag], .insert__hashtag {
    height: 4rem;
    margin-top: 1.1rem;
}
textarea[name="recipe[]"] {
    height: 14rem;
}
.insert {
    margin-top: 9rem;
}
.insert__form {
    background-color: #fff;
    padding: 40px 90px;
    border-radius: 1rem;
    border: 1px solid var(--gray-hard);
    margin-top: 2rem;
}
.insert__input {
    width: 100%;
}
.insert__title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.insert__table {
    width: 100%;
    display: table;
    margin-top: 2rem;
    table-layout: fixed;
}
.insert__row {
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-items: center;
    gap: 2rem;
    justify-items: baseline;
}
.insert__row--top {
    align-items: flex-start;
}
.insert__col {
    width: 100%;
}
.insert__row:nth-of-type(1) > div {
    vertical-align: top;
}
.insert__label {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: right;
}
.insert__label--small {
    font-size: 11px;
    color: #676767;
    line-height: 1.2rem;
}
.insert__label--left {
    text-align: left;
}
.insert__label--center {
    text-align: center;
}
.recipe__total .insert__label > div:last-child {
    margin-top: 3rem;
}
.recipe__piece .insert__label > div:last-child {
    margin-top: 1rem;
    color: var(--green-middle);
    font-size: 24px;
}
.insert__wrap {
    display: flex;
    align-items: center;
    margin-top: 1.1rem;
    justify-content: flex-start;
}
.insert__wrap--between {
    justify-content: space-between;
}
.insert__wrap > p {
    margin: 0 1.2rem;
}
.insert__input--middle {
    width: 45%;
}
.insert__input--small {
    width: 15rem;
}
.insert__img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #F1F1F1;
}
.insert__img--small {
    width: 15rem;
    height: 15rem;
}
.insert__img > div {
    margin-top: 1rem;
}
.insert__button {
    width: 7rem;
    height: 2rem;
    border: 1px solid var(--green-middle);
    border-radius: 5rem;
    font-size: 11px;
    padding: 1rem;
    color: var(--green-middle);
    font-weight: bold;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insert__button--big {
    font-size: 14px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
}
.insert__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
}
.insert__buttons > .insert__button {
    width: fit-content;
    font-size: 18px;
    padding: 1.2rem 3rem;
    margin: 0 2rem;
}
.hashtag__box {
    border-radius: .5rem;
    /* margin-top: 1.1rem; */
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
    width: 100%;
}
.hashtag__box::-webkit-scrollbar {
    width: 0;
}
.hashtag {
    width: fit-content;
    height: fit-content;
    padding: .5rem;
    background-color: var(--green-light);
    border-radius: .5rem;
    font-size: .8rem;
    display: flex;
    margin-bottom: .3rem;
    margin-right: .3rem;
}
.hashtag__close {
    cursor: pointer;
}
.hashtag__close > img {
    width: .6rem;
    margin-left: .6rem;
}

.insert__grids {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    margin-top: 3rem;
}
.insert__grid {
    display: grid;
    align-items: center;
    gap: 1rem;
}
.insert__grid > .insert__row--middle {
    grid-template-columns: 1fr 1.7fr 1fr 1.7fr;
    gap: 2rem;
}
.insert__grid > .insert__row--long {
    grid-template-columns: 2.1fr .7fr 1fr .5fr 1fr 1fr 1fr;
}
.insert__flex {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
}