body {
    width: 100%;
    background-color: var(--green-light);
}
.insert {
    margin-top: 9rem;
}
.insert__form {
    background-color: #fff;
    padding: 40px 120px;
    border-radius: 1rem;
    border: 1px solid var(--gray-hard);
    margin-top: 2rem;
}
.insert__table {
    display: flex;
    margin-top: 2rem;
}
.insert__col:nth-of-type(1) {
    flex: .2;
}
.insert__col:nth-of-type(2) {
    flex: 1;
    margin: 0 2rem;
}
.insert__col:nth-of-type(3) {
    flex: .5;
}
.insert__title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.insert__label {
    font-size: 18px;
    font-weight: bold;
}
.insert__label--small {
    font-size: 11px;
    color: #676767;
    line-height: 1.2rem;
    margin-top: .5rem;
}
.insert__col:nth-of-type(1) .insert__label {
    text-align: right;
    width: 100%;
    justify-content: flex-end;
}
.insert__wrap {
    display: flex;
    align-items: center;
}
.insert input {
    padding: .9rem;
    font-size: 15px;
    border-radius: .5rem;
    border: 1px solid #707070;
    width: 100%;
    font-weight: 400;
}
.insert textarea {
    padding: .9rem;
    width: 100%;
    border-radius: .5rem;
    font-size: 15px;
    height: 100%;
    resize: none;
}
.insert__col > div {
    margin: 1rem 0;
}
.recipe__total .insert__col > div:nth-of-type(1) {
    height: 4rem;
    display: flex;   
    align-items: center;
    justify-content: center;
}
.recipe__total .insert__col > div:nth-of-type(2) {
    height: 8rem;
}
.insert__col > div:nth-of-type(3) {
    height: 3rem;
    display: flex;
    align-items: center;
}
.insert__col > div:nth-of-type(3) div > input {
    text-align: center;
    width: 3rem;
    margin: 0px 1.5rem;
}
.insert__col > div:nth-of-type(3) p {
    margin-right: 1.5rem;
}
.insert__col > div:nth-of-type(4) {
    height: 9rem;
}
.insert__col > div:nth-of-type(5) {
    height: 8rem;
}
.insert__input--middle {
    width: 45%;
}
.insert__col > div:nth-of-type(4) .insert__wrap {
    justify-content: space-between;
}
.insert .insert__table .insert__col > .insert__img {
    width: 100%;
    height: 13rem;
    border-radius: 1rem;
    border: 1px solid #707070;
    margin-top: 1rem;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insert .insert__table .insert__col > .insert__empty {
    height: 3rem;
}
.insert__button {
    width: 7rem;
    border: 1px solid var(--green-middle);
    border-radius: 5rem;
    font-size: 11px;
    padding: 1rem;
    color: var(--green-hard);
    font-weight: bold;
    background-color: #fff;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}
.insert__button--big {
    font-size: 14px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
}
/* 레시피 작성 */
.recipe__piece .insert__wrap {
    justify-content: space-between;
}
.recipe__piece .insert__input {
    height: 13rem;
}
.recipe__piece .insert__wrap .insert__input--small > input {
    margin-left: 0;
}
.recipe__piece .insert__wrap-col > .insert__label:nth-of-type(2) {
    color: var(--green-middle);
    font-size: 24px;
}
.recipe__piece .insert__col > div:nth-of-type(1) {
    height: 18rem;
}
.insert .recipe__piece .insert__col > div:nth-of-type(2) {
    height: 6rem;
}
.insert .recipe__piece .insert__col > .insert__empty {
    height: 2rem;
}
.recipe__piece .insert__col > div:nth-of-type(3) {
    height: 2rem;
}
.recipe__piece .insert__img {
    margin-bottom: 6.5rem;
}

.insert__label--center {
    text-align: center;
}
.insert__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}
.insert__buttons > .insert__button {
    width: fit-content;
    font-size: 18px;
    padding: 1.2rem 3rem;
    margin: 0 2rem;
}