body {
    width: 100%;
    background-color: var(--green-light);
}
input {
    padding: .9rem;
    font-size: 15px;
    border-radius: .5rem;
    border: none;
    background-color: #F1F1F1;
    width: 100%;
    font-weight: 400;
}
input[type=file] {
    display: none;
}
input[name=video] {
    margin-top: 1rem;
}
textarea {
    padding: .9rem;
    width: 100%;
    border-radius: .5rem;
    font-size: 15px;
    height: 100%;
    resize: none;
    background-color: #F1F1F1;
    border: none;
}
textarea[name=intro] {
    height: 8.5rem;
    margin-top: 1.2rem;
}
textarea[name=hashtag], .insert__hashtag {
    height: 4rem;
    margin-top: 1.1rem;
}
textarea[name="recipe[]"] {
    height: 12rem;
}
.insert {
    margin-top: 9rem;
}
.insert__form {
    background-color: #fff;
    padding: 40px 120px;
    border-radius: 1rem;
    border: 1px solid var(--green-middle);
    margin-top: 2rem;
}
.insert__input {
    width: 100%;
}
.insert__title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.insert__table {
    width: 100%;
    display: table;
    margin-top: 2rem;
    table-layout: fixed;
}
.insert__row {
    display: table-row;
    height: fit-content;
}
.insert__row > div,
.insert__row > button,
.insert__wrap-row > div {
    display: table-cell;
    padding: 0 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0rem;
}
.insert__row:nth-of-type(1) > div {
    vertical-align: top;
}
.insert__row > div:nth-of-type(3) {
    width: 20rem;
    height: 11rem;
}
.insert__label {
    font-size: 18px;
    font-weight: bold;
    width: 13%;
    text-align: right;
}
.insert__label--small {
    font-size: 11px;
    color: #676767;
    line-height: 1.2rem;
}
.insert__label--left {
    text-align: left;
    width: fit-content;
    /* margin-right: 1.2rem; */
}
.insert__label--margin {
    margin-left: 2rem;
}
.insert__label--center {
    text-align: center;
    margin-top: .5rem;
}
.recipe__total .insert__label > div:last-child {
    margin-top: 3rem;
}
.recipe__piece .insert__label > div:last-child {
    margin-top: .5rem;
    color: var(--green-middle);
    font-size: 24px;
}
.insert__wrap {
    display: flex;
    align-items: center;
    margin-top: 1.1rem;
    justify-content: flex-start;
    gap: 1rem;
}
.insert__wrap--between {
    justify-content: space-between;
}
.insert__input--small {
    width: 5rem;
}
.insert__img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #F1F1F1;
}
.insert__img > div {
    margin-top: 1rem;
}
.insert__img--small {
    height: 84%;
}
.insert__button {
    width: 7rem;
    height: 2rem;
    border: 1px solid var(--green-middle);
    border-radius: 5rem;
    font-size: .8rem;
    padding: 1rem;
    color: var(--green-middle);
    font-weight: 500;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insert__button--big {
    font-size: 14px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
    padding: .5rem 1.5rem;
}
.insert__button-append {
    margin-top: 1rem;
}
.insert__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 6rem;
}
.insert__buttons > .insert__button {
    width: fit-content;
    font-size: 18px;
    padding: 1.2rem 3rem;
    margin: 0 2rem;
}
.insert__buttons--row {
    width: 30%;
    display: flex;
    margin: 0 auto;
}
.hashtag__box {
    border-radius: .5rem;
    margin-top: 1.1rem;
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
}
.hashtag__box::-webkit-scrollbar {
    width: 0;
}
.hashtag {
    width: fit-content;
    height: fit-content;
    padding: .5rem;
    background-color: var(--green-light);
    border-radius: .5rem;
    font-size: .8rem;
    display: flex;
    margin-bottom: .3rem;
    margin-right: .3rem;
}
.hashtag__close {
    cursor: pointer;
}
.hashtag__close > img {
    width: .6rem;
    margin-left: .6rem;
}
.ingredient__wrap {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}