.show {
    height: max-content;
    display: grid;
    margin-top: 13rem;
    grid-template-columns: 1.05fr 1fr;
    gap: 3rem;
}
.show--left {
    position: relative;
    flex: 1;
}
.show--right {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.show__image {
    height: 100%;
    background-color: var(--gray-light);
    border-radius: 1rem;
}
.show__remocon {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: absolute;
    top: 47%;
    left: 5%;
}
.show__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
    padding-top: .5rem;
}
.show__wrap {
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem 0;
}
.show__wrap:nth-of-type(3),
.show__wrap:nth-of-type(6),
.show__wrap:nth-of-type(8) {
    border-top: 1px solid var(--gray-middle);
}
.show__wrap--right {width: 100%;justify-content: flex-end;}
.show__label {
    flex: 1;
    font-size: .9rem;
    font-weight: bold;
}
.show__label--light {
    display: flex;
    align-items: flex-end;
    font-weight: 400;
    flex: inherit;
    margin-right: 1rem;
}
.show__label--won {
    font-size: 1.8rem;
    width: fit-content;
    flex: inherit;
}
.show__text {
    flex: 3;
    font-size: .9rem;
}
.show__buttons {
    height: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr .35fr;
    gap: 1.5rem;
}
.show__button {
    background-color: var(--green-middle);
    color: #fff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.show__button--reversal {
    background-color: #fff;
    color: var(--green-middle);
    border: 1px solid var(--green-middle);
}
.show__button > img {
    width: 35%;
}

input[type=radio] { 
    display: none;
}
.info {
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.info__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
}
.info__tab {
    flex: 1;
    background-color: var(--green-light);
    border: 1px solid var(--gray-light);
}
.info__tab > label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1.7rem;
}
#show1:checked ~ .info__tabs .tab1 {
    background-color: #fff;
    color: var(--green-middle);
    font-weight: bold;
}
#show2:checked ~ .info__tabs .tab2 {
    background-color: #fff;
    color: var(--green-middle);
    font-weight: bold;
}
#show3:checked ~ .info__tabs .tab3 {
    background-color: #fff;
    color: var(--green-middle);
    font-weight: bold;
}
#show4:checked ~ .info__tabs .tab4 {
    background-color: #fff;
    color: var(--green-middle);
    font-weight: bold;
}
.info__content {
    display: none;
}
#show1:checked ~ .tab1__content {
    display: block;
}
#show2:checked ~ .tab2__content {
    display: block;
}
#show3:checked ~ .tab3__content {
    display: block;
}
#show4:checked ~ .tab4__content {
    display: block;
}


.info__content > img {
    width: 100%;
}