/* Recipe */
.recipe__list-title {
    font-size: 24px;
    font-weight: 600;
}
.recipe__row {
    display: flex;
    justify-content: space-between;
}
.recipe__insert {
    width: 10rem;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid var(--green-middle);
    border-radius: 5rem;
    justify-content: center;
    cursor: pointer;
    padding: .2rem;
    color: var(--green-middle);
    font-weight: 500;
}
.recipe__insert > object {
    pointer-events: none;
    margin-left: .5rem;
    width: .8rem;
}
.recipe__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1rem;
    justify-content: space-between;
    gap: 2rem;
}

footer {
    margin-top: 7rem;
}